.navbar {
    display: flex;
    background-color: rgb(238, 238, 238);
}

.navbar>a>img {
    display: block;
    width: 120px;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    background-color: rgb(230, 229, 229);
} 

.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 5px;
        border: none;
        background-color: rgb(238, 238, 238);
        color:black;
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgb(230, 229, 229);
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        background-color: rgb(238, 238, 238);
        right: 1px;
    }

    .navbar {
        justify-content: space-between;
    }

}
